@model Calender.Models.Schedule

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layoutLTE.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
